{% extends "base.html" %}

{% block links %}
    <a href="/logout">Log Out</a>|
    <a href="/home">Home</a>
{% endblock %}

{% block form %}
	<div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="/editblog">
                <input type="hidden" name="blogId" value="{{blog_id}}">
                <input type="hidden" name="toEditBlogOwner" value="{{blog_owner_id}}">
                <label class="col-md-2 text-right">Title:</label>
                <input class="col-md-10" type="text" name="blogTitle" value="{{blog_title}}">
                <label class="col-md-2 text-right">Blog Body:</label>
                <textarea class="col-md-10" name="blogBody" rows="10">{{blog_body}}</textarea>
                <input class="col-md-10 col-md-offset-2" type="submit" name="submit" value="Post Blog">
            </form>
            <a href="/home"><button class="col-md-10 col-md-offset-2">Cancel</button></a>
        </div>
    </div>
{% endblock %}