{% extends "base.html" %}

{% block links %}
	<a href="/logout">Log Out</a>|
	<a href="/postblog">Post Blog</a>
{% endblock %}
{% block content %}
	<header class="row">
		<div class="col-md-12 text-center">
			<h1>All Blogs</h1>{{error_message}}
		</div>
	</header>
	<hr class="row">
		<!--This will be a jinja logic-->
	{% for blog in blogs %}
	<article class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="text-center">
						<h3 class="blogtitle">{{blog.blog_title}}</h3>
						<p class="blogowner">by {{users.get_row_by_id(blog.user_id).username}}</p>
						<p>{{blog.date_modified}}</p>
					</div>
				</div>
				{% if logged_in_user == blog.user_id %}
				<div class="col-md-2">
					<form method="get" action="/editblog">
						<input type="hidden" name="blogId" value="{{blog.key().id()}}">
						<button type="submit" name="editBlogPost" value="Edit">Edit Post</button>
					</form>
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>{{blog.blog_body}}</p>
				</div>
			</div>
			<section class="row">
				<div class="col-md-12">
					{% if not likes.check_user_like(blog.key().id(), logged_in_user) %}
					<div class="col-md-2 col-md-offset-8">
						<form method="post" action="/home/like">
							<input type="hidden" name="blogid" value="{{blog.key().id()}}">
							<input type="hidden" name="ownerid" value="{{blog.user_id}}">
							<button class="col-md-12" type="submit" value="Like" name="likeblogpost">Like</button>
						</form>
					</div>
					{% else %}
					<div class="col-md-2 col-md-offset-8">
						<form method="post" action="/home/like">
							<input type="hidden" name="blogid" value="{{blog.key().id()}}">
							<input type="hidden" name="ownerid" value="{{blog.user_id}}">
							<button class="col-md-12" type="submit" value="Like" name="likeblogpost">Unlike</button>
						</form>
					</div>
					{% endif %}
					<div class="col-md-2">
						<button class="col-md-12" type="submit" name="commentonblogpost" data-toggle="modal" data-target="#comment{{blog.key().id()}}">Comment</button>
					</div>
				</div>
			</section>
			<hr class="row">
		</div>
	</article>
	<!-- Modal -->
	<div id="comment{{blog.key().id()}}" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">{{blog.blog_title}}</h4>
	      </div>
	      <div class="modal-body">
	        <form method="post" action="/home/comment">
				<input type="hidden" name="blogid" value="{{blog.key().id()}}">
				<input type="hidden" name="ownerid" value="{{blog.user_id}}">
				<textarea class="col-md-12" name="usercomment"></textarea>
				<input class="col-md-12" type="submit" value="Comment" name="likeblogpost">
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
		{% endfor %}
		{{likeid}}
{% endblock %}