{% extends "base.html" %}
{% block form %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post">
                <label class="col-md-6 text-right">Username:</label>
                <input class="col-md-6" type="text" name="username">
                <label class="col-md-6 text-right">Password:</label>
                <input class="col-md-6" type="password" name="password">
                <div class="col-md-offset-6 error-message"><p>{{invalid_login_message}}</p></div>
                <input class="col-md-12" type="submit" name="submit" value="Log In">
            </form>
        </div>
    </div>
{% endblock %}