{% extends "base.html" %}
{% block form %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post">
                <label class="col-md-6 text-right">Username:</label>
                <input class="col-md-6" type="text" name="username">
                <div class="col-md-offset-6 error-message"><p>{{error_username}}</p></div>

                <label class="col-md-6 text-right">Password:</label>
                <input class="col-md-6" type="password" name="password">
                <div class="col-md-offset-6 error-message"><p>{{error_password}}</p></div>

                <label class="col-md-6 text-right">Verify:</label>
                <input class="col-md-6" type="password" name="verify">
                <div class="col-md-offset-6 error-message"><p></p></div>

                <label class="col-md-6 text-right">Email(optional):</label>
                <input class="col-md-6" type="text" name="email">
                <div class="col-md-offset-6 error-message"><p>{{error_email}}</p></div>
                
                <input class="col-md-12" type="submit" name="submit" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock %}